.imagem-carrossel-um {
  object-fit: cover;
  object-position: 0 70%;
  height: 400px;
}

.imagem-carrossel-dois {
  object-fit: cover;
  object-position: 0 60%;
  height: 400px;
}

.font-title {
  font-family: 'Pacifico', cursive;
}
